@charset "utf-8";

/*中间*/
.main_midde_one {
    height: 134px;
}
.main_toppic {
    margin-bottom: 18px;
}
.main_toppic a.lrge {
    display: block;
    text-align: center;
    color: #00a786;
    font-size: 20px;
    height: 1.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
    font-weight: 700;
    overflow: hidden;
}
.toppic {
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    overflow: hidden;
}
.toppic a {
    color: #666666;
}

.main_midde_two {
    margin: 0 10px;
    padding-left: 1px;
}
.notice-tit {
	margin: 0 auto;
	width: 331px;
	position: relative;
	margin-bottom: 5px;
}

.notice-tit ul li {
    float: left;
    height: 34px;
    line-height: 34px;
    color: #999999;
    font-size: 14px;
    /* overflow: visible; */
    padding: 0 10px;
    width: auto;
    cursor: pointer;
    position: relative;
    border-right: 1px solid #FFF;
    background: #f1f1f1;
}
body {
	background: #FBFBFB;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0
}
.pAdding {
	padding: 10px;
}
.notice-tit ul li.select {
	border-bottom: 2px solid #f1f1f1;
	overflow: hidden;
	background: #00a786;
	color: #fff;
	z-index: 5;
}
.notice-con .mod {
	display: none;
	position: relative;
	margin-top: -5px;
	zoom: 1;
}
.notice-con .mod ul {
    border-bottom: 1px dashed #EAEAEA;
    padding: 12px 0;
    font-size: 14px;
}
.notice-con .mod ul li {
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    padding-left: 40px;
    position: relative;
}
.notice-con .mod ul li i {
    width: 32px;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFF;
    top: 50%;
    left: 0;
}
.notice-con .mod span {
    float: right;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.notice-con_one {
    display: block;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #A4A4A4;
    margin-top: -1px;
    position: relative;
    color: #FFF;
    border-bottom: 4px solid #767777;
    border-radius: 2px;
}
.main_left_one {
	margin-bottom: 15px;
}
.pAdding,.main_left_one,.main_left_two,.main_midde_section,.main_right_section,.main_screen_ttt,.JKL,.matter_fl_page,.matter_fr_boxOne,.matter_fr_boxTwo,.matter_fr_boxthree{
	background: #FFF;
	border: 1px solid #EFEFEF;
}

em, i {font-style: normal;font-weight: normal;}
.main_left_two {
    padding: 18px 10px;
}
.main_box_s {
    border-bottom: 1px solid #EAEAEA;
    position: relative;
    height: 34px;
}
.main_box_s h3 {
    margin: 0 10px 0 0;
    font-size: 16px;
    border-bottom: 2px solid #00a786;
    height: 34px;
    line-height: 34px;
    position: absolute;
    top: 0;
    left: 0;
}
.more {
    position: relative;
    float: right;
    margin: 8px 0;
    zoom: 1;
}
.more a {
    font-size: 12px;
    display: inline-block;
    position: relative;
}
.ko {
    font-size: 12px;
    height: 12px;
    width: 12px;
    line-height: 12px;
    position: absolute;
    left: -14px;
    top: 2px;
    font-family: "logo-icon";
    font-weight: normal;
    font-style: normal;
    color: #666;
}
.more:hover .ko{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
}
.main_box_x {
    overflow: hidden;
    position: relative;
}
.main_box_xx li {
	height: 91px;
    border-bottom: solid 1px #eee;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    padding: 15px 90px 15px 10px;
    min-height: 45px;
}
.box_2 {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -32px;
}
.box_2 img {
	width: 100%;
}
.main_box_xx li a {
    display: inline-block;
}
.box {
    margin-top: 1.6px;
    display: block;
    line-height: 1.4em;
    text-overflow:ellipsis;
     height: 45px;
}
.box_1 {
    font-size: 12px;
    color: #999;
}
.box_img {
    height: 60px;
    width: 80px;
    overflow: hidden;
}
.main_box_s1 {
    border-bottom: 1px solid #EAEAEA;
    height: 39px;
}
.xwgg {
    line-height: 30px;
    border-left: 2px solid #00a786;
    border-bottom: none;
    text-indent: .5em;
    margin-top: 8px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    float: left;
}
.main_time {
    margin-left: 55px;
    border-left: 1px solid #e4e4e4;
    padding-bottom: 1px;
    margin-top: 25px;
}
.main_time_box {
    margin-bottom: 30px;
    padding-left: 18px;
    position: relative;
    zoom: 1;
}
.main_time_box i {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: -10px;
    background: #FFF;
}
.icon {
    font-family: "logo-icon";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #58bc2c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ipac {
    font-size: 12px;
    color: #999;
}
.main_time_box_i2 {
    position: absolute;
    left: -55px;
    top: 0;
    text-align: right;
}
.co {
    color: #f3463a;
}
.mvp {
    font-size: 14px;
    line-height: 1.714;
}
.main_time_box_i1 .bbt a {
    font-size: 14px;
    line-height: 1.714;
    font-weight: normal;
    font-family: "宋体";
}
.eo {
    font-weight: normal;
    font-size: 14px;
    color: #58bc2c;
}
/*下部分*/
.Title {
    height: 49px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    position: relative;
}
.Title h2.tit {
    margin : 0;
    display: block;
    border-bottom: 2px solid #00a786;
    height: 49px;
    line-height: 49px;
    padding: 0 5px 0 0;
    font-size: 26px;
    font-weight: normal;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.padd {
    padding: 10px;
}
.paddt {
    padding:0 10px;
}

.mop {
    border: 1px solid #e0e0e0;
    padding: 15px 15px 35px;
    text-align: center;
    float: left;
}
.mop a {
    color: #666;
}
.mop h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 15px;
}
.while {
    background: #FFF;
}
.mop span {
    display: inline-block;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 10px;
    background: #EBEBEB;
}
.mop img {
    width: 100%;
}
.mod1 a {
    display: inline-block;
}
.mcp {
    float: left;
    position: relative;
}
.Newlist h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0 5px;
}
.Newlist p {
    font-size: 12px;
    color: #999999;
    padding: 5px 10px 0px 5px;
    line-height: 20px;
    /* border-bottom: 1px dotted #DDD; */
}
.mod1 h3 a {
    color: #333;
}
.IJ {
    float: left;
    margin: 60px 0 0 0;
    position: relative;
    padding: 15px 0 10px;
    width: 240px;
    border: 1px solid #e0e0e0;
}
.IJ dt h4 {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: -10px;
    background: white;
    padding: 0 5px;
    font-size: 16px;
    font-weight: bold;
}
.IJ dd {
    -display: inline;
    float: left;
    width: 45%;
    overflow: hidden;
    margin-left: 10px;
    line-height: 24px;
}
.mcp {
    float: left;
    position: relative;
}
.mi h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0 5px;
}
.mi p {
    margin: 0 0 25px;
    font-size: 12px;
    color: #999999;
    padding: 5px 5px 25px;
    line-height: 20px;
    border-bottom: 1px dotted #DDD;
}
.tic {
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.tic h2.titc {
    line-height: 30px;
    border-left: 2px solid #00a786;
    text-indent: .5em;
    margin-top: 10px;
    font-size: 26px;
    font-weight: normal;
    float: left;
}

.tao li {
    padding: 5px 0;
    line-height: 27px;
    position: relative;
    zoom: 1;
    height: 29px;
    overflow: hidden;
    transition: all .5s ease 0s;
}
.tao li span {
    font-size: 18px;
    font-family: "logo-icon";
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    width: 18px;
    height: 19px;
    text-align: center;
    color: #00a786;
    display: inline-block;
    vertical-align: middle;
}
.tao .cnb h4 {
    padding-left: 5px;
    color: #CC0000;
    font-size: 14px;
}
.tao li h4 {
    font-size: 12px;
    display: inline;
    cursor: pointer;
    font-weight: normal;
    color: #333;
}
.tao .cnb em {
    border-color: #000 transparent transparent;
    _border-style: dashed dashed solid;
    _border-width: 0 5px 5px;
}
.tao li em.cn {
    opacity: 1;
    transform: rotate(180deg);
}
.tao li em {
    opacity: .7;
    position: absolute;
    right: 5px;
    top: 12px;
    display: inline-block;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-weight: normal;
    font-style: normal;
    border-color: #c2c2c2 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    transition: all .25s ease 0s;
}
.toon {
    opacity: 0;
    overflow: hidden;
    zoom: 1;
    background: #FFFFFF;
    border: 1px solid #FFF;
    display: block;
    clear: both;
    padding: 10px;
    margin: 10px 0 8px;
    transition: opacity .5s ease 0s;
}
.toon img {
    float: left;
    width: 108px;
    height: 120px;
    margin-right: 10px;
}






@media (min-width: 768px) { /*pc端  IP端*/
.navbar_nav {
		margin-left: 30px;
	}

}

@media (min-width: 992px){   /*pc端*/
	.notice-tit {
		width: 100%;
	}
	.notice-tit ul li {
		padding:0 25px;
	}
	.Top{
		margin-bottom: 20px;
	}

}
@media (max-width: 1100px) and (min-width: 100px) {
    .cent{
        text-align: center;
    }
    .tb {
        margin-top: 20px;
    }
    .IJ {
        margin : 30px auto;
        float: none;
    }
    .mop {
        float: none;
    }
}


