@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0;padding: 0}
body{font-size:12px;font-family: "微软雅黑","宋体",serif,sans-serif;line-height: 1.4; background: #FBFBFB }
img{list-style: none;border: none; vertical-align: middle;}
input,select,textarea{outline:none;border: none;background: none;}
textarea{resize:none;}
em, i {font-style: normal;font-weight: normal;}
a{text-decoration:none; color:#333;cursor: pointer;}
ul{list-style: none;}
.clearfix:after{content:"";display:block;clear:both; }
.clearfix{zoom:1;}
.fl{float: left;}
.fr{float: right;}
script{display: none;}
/**{
	box-sizing: border-box
}*/
/*公用*/
.comWidth{width:1130px; margin: 0 auto;}
.hide{display: none;}
.show{display: block;}
a:hover{
	color: #CC0000;
	text-decoration: underline;
}
@font-face{
			font-family: "logo-icon";
			src: url("../fonts/icomoon.eot"); /*IE 9 兼容模式*/
			src:	url("../fonts/icomoon.eot?#iefix") format("embedded-opentype")
				,url("../fonts/icomoon.woff") format("woff")
				,url("../fonts/icomoon.ttf") format("truetype")
				,url("../fonts/icomoon.svg") format("svg");
			font-weight: normal;
			font-style: normal;
}

.more{
	position: relative;
	float: right;
	margin: 8px 0;
  	zoom:1;
}
.more a{
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.more:hover .ko{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
}
.ko {
	font-size: 12px;
	height: 12px;
	width: 12px;
	line-height: 12px;
	position: absolute;
	left: -14px;
	top: 2px;
	font-family: "logo-icon";
	font-weight: normal;
	font-style: normal;
	color: #666;
}
.yl h4{
	color: #aaa;
	height: 30px;
	line-height: 30px;
	display: block;
	font-size: 18px;
}
.yl a{
    color: #aaa;
    text-decoration: underline;

}
.yl ul{
	padding-left:40px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-right: 7px;
    padding-left: 7px;
}
